html{
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
    /*navbar footer*/
.navbar,footer {
    background-color:  #1b0861;
}

.white-color,#color_text_footer,#navbardrop {
    color: white;
}

#logo{
    width: 120px;
}

footer {
    margin-top: auto;
    width: 100%;
    padding-left: 0;
  }
  

#lupa{
    background-color:  #1b0861;
    color: white;
}


/*Index*/

#im2, #im3,#im11{
    height: 40%;
}

/*transactions*/

#accounts1,#accounts2,#subaccountForm ,#subaccountForm2,#debehaberForm,#debehaberForm2,#viajeSelect{
    height: 37px;
}

/*quickinsert*/

#viajeselect,#medio1,#currency,#medio2,#medio3,#actividad1,#actividad2,#actividad3,#feeQuickInsert1,#feeQuickInsert2,#feeQuickInsert3{
    height: 37px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #logo {
      width: 80px;
    }





}