{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}
  <div class="container-fluid text-center"> 
    <form action="/reports/list_assets_byYear" method="POST">
      <div class="form-group row mt-3 align-items-center">
        <label for="year" class="col-md-1 col-form-label">Año</label>
        <div class="col-md-1">
          <select id="year" name="year" class="form-control">
            {% for year in range(2022, 2026) %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary btn-sm" type="submit">Seleccionar</button>
        </div>
        <div class="col-md-6">
          <h3>Activo</h3>
        </div>
      </div>
    </form>

    <!-- Tabla de activos -->
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="text-left">Código</th>
            <th class="text-left">Cuenta</th>
            <th class="text-right">Jan</th>
            <th class="text-right">Feb</th>
            <th class="text-right">Mar</th>
            <th class="text-right">Apr</th>
            <th class="text-right">May</th>
            <th class="text-right">Jun</th>
            <th class="text-right">Jul</th>
            <th class="text-right">Aug</th>
            <th class="text-right">Sep</th>
            <th class="text-right">Oct</th>
            <th class="text-right">Nov</th>
            <th class="text-right">Dec</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td class="text-left">{{ transaction.fkid_v_account }}</td>
            <td class="text-left">{{ transaction.account }}</td>
            <td class="text-right">{{ transaction.january }}</td>
            <td class="text-right">{{ transaction.february }}</td>
            <td class="text-right">{{ transaction.march }}</td>
            <td class="text-right">{{ transaction.april }}</td>
            <td class="text-right">{{ transaction.may }}</td>
            <td class="text-right">{{ transaction.june }}</td>
            <td class="text-right">{{ transaction.july }}</td>
            <td class="text-right">{{ transaction.august }}</td>
            <td class="text-right">{{ transaction.september }}</td>
            <td class="text-right">{{ transaction.october }}</td>
            <td class="text-right">{{ transaction.november }}</td>
            <td class="text-right">{{ transaction.december }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>

</html>