{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}

  <div class="container-fluid mt-3">

    <script>
      let aLooses = {{ transactions | tojson}};
      let aAssets = {{ assets | tojson}};
      let Looses_by = {{ categories | tojson}};
      let liabilities = {{ liability | tojson}};                             
    </script>

    <div class="row mb-4">
      <div class="col-md-6">
        <canvas id="grafica3"></canvas>
      </div>

      <div class="col-md-6 ">
        <canvas id="grafica4"></canvas>
      </div>
    </div>

    <div class="row mb-4 ">
      <div class="col-md-6">
        <canvas id="grafica5"></canvas>
      </div>

      <div class="col-md-6 ">
        <canvas id="grafica6"></canvas>
      </div>
    </div>

    {% endblock %}
    {% block footer %}
    {{ super() }}
    {% endblock %}
</body>