{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}

  <main>

    <script>
      let accountNames = {{ accountName | tojson}}
      let countryNames = {{ countryName | tojson}}
      let cityNames = {{ cityName | tojson}}
    </script>

    <div class="contaniner m-4">

      <div class="row mb-2">
        <div class="col text-center">
          <h2>Ingreso de transacciones</h2>
          <p class="lead">Ingrese el registro diario</p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-2 offset-md-8 text-left">
          <span class="badge badge-pill badge-danger" style=font-size:1.2rem;>Debe</span>
        </div>
        <div class="col-md-2 text-left">
          <span class="badge badge-pill badge-danger" style=font-size:1.2rem;>Haber</span>
        </div>
      </div>

      <form action="/transactions/insert_transactions" method="POST" id="form1">

        <div class="row mb-3 ml-3">
          <div class="col-md-2">
            <input type="text" class="form-control" id="dateForm" name="dateForm" placeholder="Fecha" value="{{to_day}}"
              required>
          </div>

          <div class="col-md-3 ml-3">
            <select class="form-select" aria-label="Default select example" id="accounts1" name="accounts1" required>
              <option selected>Cuenta</option>
            </select>
          </div>

          <div class="col-md-2 ml-3">
            <select class="form-select" aria-label="Default select example" id="subaccountForm" name="subaccountForm">
              <option selected>Subcuento</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="col-md-2 ml-3">
            <input type="text" class="form-control" id="feeForm" name="feeForm" placeholder="Importe"
              onchange="sChange()" value="" required>
          </div>

          <div class="col">
            <select class="form-select" aria-label="Default select example" hidden id="debeHaberForm"
              name="debeHaberForm">
              <option value="1" selected>D</option>
              <option value="2">H</option>
            </select>
          </div>
        </div>

        <div class="row ml-3 mb-4">
          <div class="col-md-2">
            <input type="text" class="form-control" id="dateForm2" name="dateForm2" disabled placeholder="Fecha"
              value="" required>
          </div>

          <div class="col-md-3 ml-3 ">
            <select class="form-select" aria-label="Default select example" id="accounts2" name="accounts2">
              <option selected>Cuenta</option>
            </select>
          </div>

          <div class="col-md-2 ml-3 ">
            <select class="form-select" aria-label="Default select example" id="subaccountForm2" name="subaccountForm2">
              <option selected>Subcuenta</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="col-md-2 offset-md-2">
            <input type="text" class="form-control" id="feeForm2" name="feeForm2" placeholder="Importe" disabled
              value="" required>
          </div>

          <div class="col">
            <select class="form-select" aria-label="Default select example" hidden id="debeHaberForm2"
              name="debeHaberForm2">
              <option value="1">D</option>
              <option value="2" selected>H</option>
            </select>
          </div>

        </div>

        <div class="row ml-3 mb-3  align-items-center">
          <div class="col-md-2">
            <select class="form-select" aria-label="Default select example" id="pais" name="countryForm">
              <option value="1" selected>Argentina</option>
            </select>
          </div>

          <div class="col-md-2 ">
            <select style="width:auto;" class="form-select" aria-label="Default select example" id="city"
              name="districtForm">
              <option value="1" selected>Bs As</option>
            </select>
          </div>

          <div class="col-md-1 ">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cuotasCheck" onclick="cuotas()">
              <label class="form-check-label">
                Cuotas
              </label>
            </div>
          </div>

          <div class="col-md-1 ">
            <select class="form-select" aria-label="Default select example" id="cuotaSelect" name="cuotaForm">
              <option value="0" selected>0</option>
            </select>
          </div>

          <div class="col md-2 ">
            <textarea class="form-control" placeholder="Comentarios" id="exampleFormConctrolTextarea1"
              name="commentForm" rows="1"></textarea>
          </div>

          <div class="col-md-3 text-center">
            <button class="btn btn-primary " type="submit">Ingresar </button>
          </div>

        </div>

      </form>
    </div>
  </main>
  {% endblock %}

  {% block footer %}
  {{ super() }}
  {% endblock %}

</body>