<!DOCTYPE html>
<html lang="es">
<head>
  {% extends "base.html" %}
  {% block head %}
  {{ super() }}
  {% endblock %}
</head>

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}
  <div class="container-fluid text-center">
    <form action="/reports/list_looses_byYear" method="POST">
      <div class="form-group row mt-3 align-items-center">
        <label for="year" class="col-md-1 col-form-label">Año</label>
        <div class="col-md-1">
          <select id="year" name="year" class="form-control">
            {% for year in range(2022, 2026) %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary btn-sm" type="submit">Seleccionar</button>
        </div>
        <div class="col-md-6">
          <h3>Perdidas</h3>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Código</th>
            <th>Cuenta</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.FkidVAccount }}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.january }}</td>
            <td>{{ transaction.february }}</td>
            <td>{{ transaction.march }}</td>
            <td>{{ transaction.april }}</td>
            <td>{{ transaction.may }}</td>
            <td>{{ transaction.june }}</td>
            <td>{{ transaction.july }}</td>
            <td>{{ transaction.august }}</td>
            <td>{{ transaction.september }}</td>
            <td>{{ transaction.october }}</td>
            <td>{{ transaction.november }}</td>
            <td>{{ transaction.december }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>
</html>