{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}

  <main>

    <div class="contaniner m-4">

      <div class="row mb-2">
        <div class="col text-center">
          <h2>Ingreso rapido</h2>
        </div>
      </div>


      <form action="/transactions/quickinserta" method="POST" id="form1" name="form1">

        <div class="row mb-5 mt-1">
          <div class="col-md-2 offset-5">
            <input type="text" class="form-control" id="to_day" name="to_day" value="{{to_day}}">
          </div>
        </div>

        <div class="row mt-3 ml-3">
          <div class="col-md-2">
            <select class="form-select" aria-label="Default select example" id="actividad1" name="actividad1"
              onchange="viajes()">
              <option selected>Tipo de gasto</option>
              <option value="1">Supermercado</option>
              <option value="2">Perfumeria</option>
              <option value="3">Viaje</option>
              <option value="4">Sube</option>
              <option value="5">Restaurant</option>
              <option value="6">Luz</option>
              <option value="7">Gas</option>
              <option value="8">Expensas</option>
              <option value="9">Prov Int</option>
              <option value="10">Impuestos</option>
              <option value="11">Prepaga</option>
            </select>
          </div>

          <div class="col-md-3">
            <select class="form-select" aria-label="Default select example" id="medio1" name="medio1">
              <option selected>Medio de pago</option>
              <option value="31">Efvo</option>
              <option value="32">Santander Visa</option>
              <option value="33">Santander Amex</option>
              <option value="34">Frances Visa</option>
              <option value="35">Galicia Visa</option>
              <option value="36">Sube</option>
            </select>
          </div>

          <div class="col-md-2">
            <select class="form-select" aria-label="Default select example" style="display:none;" id="viajeSelect"
              name="viajeForm" onchange="precios()">
              <option selected>Destino</option>
              <option value="1">IFTS</option>
              <option value="2">UNAHUR</option>
              <option value="3">UBA</option>
              <option value="4">AMBA</option>
            </select>
          </div>

          <div class="col-md-2">
            <input type="text" class="form-control" id="feeQuickInsert1" name="feeQuickInsert1" placeholder="Importe"
              onchange="sChange()" value="" required>
            <div class="invalid-feedback">
              Falta ingresar el importe.
            </div>
          </div>

          <div class="col-md-2 text-center">
            <button class="btn btn-primary btn " type="submit">Ingresar </button>
          </div>
        </div>
      </form>
    </div>

    </div>

  </main>
  {% endblock %}

  {% block footer %}
  {{ super() }}
  {% endblock %}

</body>