{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

<body>
  {% block header %}
  {{ super() }}
  {% endblock %}

  {% block content %}
  <div class="container my-4">
    <div class="row mb-3">
      <div class="col text-center">
        <h2>Libro Diario</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col" class="text-center">Debe</th>
                <th scope="col" class="text-center">Haber</th>
                <th scope="col">Comentario</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              {% if transaction.FkidVIncreasedBY == 1 %}
              <tr>
                <td>{{ transaction.id_AccountingTransactions }}</td>
                <td>{{ transaction.accruedDate }}</td>
                <td>{{ transaction.FkidVAccount }}</td>
                <td class="text-center">{{ transaction.amount }}</td>
                <td class="text-center"></td>
                <td>{{ transaction.comment }}</td>
              </tr>
              {% else %}
              <tr>
                <td>{{ transaction.id_AccountingTransactions }}</td>
                <td>{{ transaction.accruedDate }}</td>
                <td>{{ transaction.FkidVAccount }}</td>
                <td class="text-center"></td>
                <td class="text-center">{{ transaction.amount }}</td>
                <td></td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>
</html>